.totalClass {
    font-size: 15px;
    font-family: Arial;
}

.bedroomClass {
    font-size: 10px;
    font-family: Arial;
}

.neighbourhoodClass {
    font-size: 20px;
    font-family: Arial;
}

.avgpriceClass {
    font-size: 15px;
    font-family: Arial;
}

.title {
    font-size: 30px;
    font-family: Arial;
}